.app-header {
    -fx-background-color: -color-bg-inset;
    -fx-border-color: -color-border-default;
    -fx-border-width: 0 0 1px 0;
}

.login {
    -fx-padding: 10px 30px;
    -fx-font-weight: bold;
}

.settings {
    -fx-padding: 10px;
}
